@font-face { font-family: ComicMono; font-weight: 400; src: url(fonts/ComicMono.ttf); }
body, textarea, button { font-family:sans-serif; }

body {margin-bottom: 100px; min-height:100vh; background:linear-gradient(#fff, #fff calc(100% - 150px), #fff0), url(bg.jpg); }
a { color: #333; }
a:visited { color: #353; }

* { box-sizing: border-box; }
#root { margin: 20px;}
@media (max-width:700px) {
  #root {margin: 20px 5px;}
}
header {display:flex; justify-content:space-between; width:100%;}
header>a { text-decoration:none;}
header h1 { margin:0 0 0.2rem 0; padding:0 0 0 2.6rem; color:#000; background:url(apple-touch-icon.png) center left no-repeat; background-size:contain; font-size:2.5rem;line-height:2.5rem; }

@media (max-width:500px) {
  header { flex-direction:column; }
}
header .account {display:flex; align-items:baseline;}
header .notifications { margin-left: 10px;}
header .notifications.new { color:orangered; }

.tabs {display:flex; list-style:none; padding: 5px; border-bottom: 1px solid #777; }
.tabs li { background:#0002; border-radius: 5px 5px 0 0; padding: 5px 8px; margin: 0 5px -5px 5px; }
.tabs li.active {background:none; border: 1px solid #777; margin-bottom: -6px; border-bottom-color:#fff;}
.tabs li.new { background:linear-gradient(orangered, #0002 40%); }
.tabs li.active.new { background:linear-gradient(orangered, white 40%); }
.tabs a {text-decoration:none;}
.tabs button, button.icon {margin:0; background:none; border: none; border-radius:0;}
.tabs button:hover, button.icon:hover {background:none;}

.msg { flex:1; padding:20px 20px 10px 20px; background:#0061; margin:10px 0; border-radius:5px; }
.msg.full { display:flex; flex-direction: column;}
.msg.full>dialog {width:100%;}
.threshold {text-align:center; width:100%; font-size:80%; background: #0002; }
.drag-item {display:flex; margin:10px 5px;}
.dirty .msg { background: #ff95; }
.eliminate .msg { background: #f995; }
.drag-item>button { margin:0 auto; }
.drag-handle {width: 15px; font-size:0; background:#0002; cursor:ns-resize;margin-right:5px;}
.msg .header { display:flex; }
a.external span { font-size: 0.8rem; margin-left: 0.2rem; }
button.fullview { margin-left: auto; margin-right:0; border:0; background:none; color:#222; }
.different-owner { display:flex; flex-direction:column; }
.different-owner .original::before {content: "Original Creator: "}
.different-owner .current::before {content: "Current Owner: "}
.postdate {font-size:90%; padding:0 5px;}
em.edited {font-size:80%;}
em.edited::before { content: "*"; }
.msg .text { padding: 15px 0; white-space: pre-line; font-family:ComicMono, sans-serif; max-height: 200px; overflow:auto; }
.msg.full>dialog>.text { max-height: 100%; }
.msg iframe { display: block; width: 100%; border:none; margin-top:4px; }
.msg.full>dialog>iframe { height: 100vh }
.msg .preload { padding: 4px; }
.controls { margin-top: 8px; }
.reply-type-chooser { margin: 5px 0; }

.button-list { display:flex; flex-direction:column; margin-top:10px; }
.button-list button { margin-bottom: 10px; }
button {margin-right:6px; background:#0801; border: 1px solid #999; color: black; cursor:pointer; border-radius:4px;}
button:hover { background:#0f01; }
button:disabled { background:#2221; cursor:default; }
fieldset {border:none;}
legend {float:left; margin-bottom:5px; font-weight:bold; }
legend+* {clear:both; }
textarea {width:100%; font-family:ComicMono, sans-serif; height: 25vh; margin-bottom:15px;}
input {width:100%; margin-bottom:15px; }

.save-sort-banner { position:fixed; bottom: 0; left:0; right: 0; background:#fff; border-top:1px solid #ccc; display:flex; justify-content:flex-end; padding:10px;}
.save-sort-banner button { font-size: 130%; }
